<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Доска заметок</title>
</head>
<body>
<header>
    <h1>Kanban доска</h1>
</header>
<div id="app">
    <form @submit.prevent="createCard">
        <input type="text" v-model="cardTitle" placeholder="Заголовок" required class="input">
        <input type="date" v-model="dateEnd" placeholder="Дата завершения" required class="input">
        <button type="submit" class="btn">Добавить</button>

    </form>
    <p v-if="errors.length">
        <b>Превышен размер задач:</b>
    <ul>
        <li v-for="error in errors">{{ error }}</li>
    </ul>
    </p>
    <div class="columns">
        <div class="column" id="column1">
            <h2>Запланированные задачи</h2>
            <div v-for="card in column1" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>

                <div class="time">Создано : {{ card.dateStart }}</div>
                <div>Закончить к {{card.data}}</div>

                <input type="text" v-model="card.cardText" required :disabled="isDisabled" class="input"><br>

                <input type="checkbox" v-model="card.completed" >
                <button type="submit" class="btn" v-on:click="columnTu">Переместить</button>
                <button v-on:click="removeMask(index,'need')" class="btn">Удалить</button>
            </div>
        </div>
        <div class="column" id="column2">
            <h2>Задачи в работе</h2>
            <div v-for="card in column2" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>

                <div class="time">Создано : {{ card.dateStart }}</div>
                <div>Закончить к {{card.data}}</div>

                <input type="text" v-model="card.cardText" required :disabled="isDisabled" class="input"><br>

                <input type="checkbox" v-model="card.completed" >
                <button type="submit" class="btn" v-on:click="columnThree">Переместить</button>
            </div>
        </div>
        <div class="column" id="column3">
            <h2>Тестирование</h2>
            <div v-for="card in column3" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>

                <div class="time">Создано : {{ card.dateStart }}</div>
                <div>Закончить к {{card.data}}</div>

                <input type="text" v-model="card.cardText" required :disabled="isDisabled" class="input"><br>

                <input type="checkbox" v-model="card.completed" >
                <button type="submit" class="btn" v-on:click="columnFour">Переместить</button>
                <button type="submit" class="btn" v-on:click="back">Вернуть обратно</button>
            </div>
        </div>
        <div class="column" id="column4">
            <h2>Выполненные задачи</h2>
            <div v-for="(card, index) in column4" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>
                <ul>
                    <li v-for="item in card.items" :key="item.id">
                        <input type="text" v-model="card.cardText" required>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>