<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Доска заметок</title>
</head>
<body>
<header>
    <h1>Kanban доска</h1>
</header>
<div id="app">
    <div class="columns">
        <div class="column" id="column1">
            <h2>Запланированные задачи</h2>
            <form @submit.prevent="createCard">
                <input type="text" v-model="cardTitle" placeholder="Заголовок" required class="input"><br>
                <input type="text" v-model="cardText" placeholder="Задача" required  class="input"><br>
                <input type="date" v-model="dateEnd"  required class="input"><br><br>
                <button type="submit" class="btn">Добавить</button>

            </form>
            <div v-for="card in column1" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>

                <div class="time">Создано : {{ card.dateStart }}</div>
                <div>Закончить к {{card.data}}</div><br>
                <div v-if="card.redactData">Дата редактирования: {{card.redactData}}</div>

                    <div v-if="card.editing">
                        <textarea v-model="editedCardContent"></textarea><br>
                        <button v-on:click="redactCard(card,editedCardContent)">Сохранить</button>
                    </div>

                <div>Задача: {{card.text}}</div>
                <button v-on:click="editCard(card)">Редактировать</button>
                <button type="submit" class="btn" v-on:click="columnTu(card)">Переместить</button>
                <button v-on:click="removeMask(index,'need')" class="btn">Удалить</button>
            </div>
        </div>
        <div class="column" id="column2">
            <h2>Задачи в работе</h2>
            <div v-for="card in column2" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>

                <div class="time">Создано : {{ card.dateStart }}</div>
                <div>Закончить к {{card.data}}</div><br>
                <div v-if="card.redactData">Дата редактирования: {{card.redactData}}</div>

                <div v-if="card.editing">
                    <textarea v-model="editedCardContent"></textarea><br>
                    <button v-on:click="redactCard(card,editedCardContent)">Сохранить</button>
                </div>

                <div>Задача: {{card.text}}</div>
                <button v-on:click="editCard(card)">Редактировать</button>
                <button type="submit" class="btn" v-on:click="columnThree(card)">Переместить</button>



                <div v-if="c">
                    <div>Причина возврата: {{card.redact}}</div>
                </div>
            </div>
        </div>
        <div class="column" id="column3">
            <h2>Тестирование</h2>
            <div v-for="card in column3" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>

                <div class="time">Создано : {{ card.dateStart }}</div>
                <div>Закончить к {{card.data}}</div><br>
                <div v-if="card.redactData">Дата редактирования: {{card.redactData}}</div>

                <div v-if="card.editing">
                    <textarea v-model="editedCardContent"></textarea><br>
                    <button v-on:click="redactCard(card,editedCardContent)">Сохранить</button>
                </div>

                <div>Задача: {{card.text}}</div>
                <button v-on:click="editCard(card)">Редактировать</button>
                <button type="submit" class="btn" v-on:click="columnFour(card)">Переместить</button>
                <button type="submit" class="btn" v-on:click="back(card)">Вернуть обратно</button>


                <div v-if="card.completed">
                    <textarea v-model="card.redact" placeholder="Причина возарата"></textarea>
                    <button type="submit" class="btn" v-on:click="rCard(card.redact, card)" >Сохранить</button>
                </div>


            </div>
        </div>
        <div class="column" id="column4">
            <h2>Выполненные задачи</h2>
            <div v-for="(card, index) in column4" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>
                <div class="time">Создано : {{ card.dateStart }}</div>
                <div>Закончить к {{card.data}}</div>
                <div>Задача: {{card.text}}</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>