<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Доска заметок</title>
</head>
<body>
<header>
    <h1>Доска заметок</h1>
</header>
<div id="app">
    <form @submit.prevent="createCard">
        <input type="text" v-model="cardTitle" placeholder="Enter the title of the card" required>
        <button type="submit">Add</button>
    </form>
    <div class="columns">
        <div class="column" id="column1">
            <h2>Новые</h2>
            <div v-for="card in column1" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>
                <ul>
                    <li v-for="item in card.items" :key="item.id">
                        <input type="checkbox" v-model="item.completed">

                    </li>
                </ul>
            </div>
        </div>
        <div class="column" id="column2">
            <h2>Half completed</h2>
            <div v-for="card in column2" :key="card.id" class="card">
                <h3>{{ card.title }}</h3>
                <ul>
                    <li v-for="item in card.items" :key="item.id">
                        <input type="checkbox" v-model="item.completed">

                    </li>
                </ul>
            </div>
        </div>
        <div class="column" id="column3">
            <h2>Done</h2>
            <div v-for="card in column3" :key="card.id" class="card">
                <h3>{{ card.title }} <span v-if="card.completed">(Завершено: {{ card.completedDate }})</span></h3>
                <ul>
                    <li v-for="item in card.items" :key="item.id">
                        <input type="checkbox" v-model="item.completed">

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>